@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
    --primary-color: #00a6edff;
    --secondary-color: #7fb800ff;
    --accent1-color: #ffb400ff;
   
    --heading-font: 'Tahoma', serif;
    --paragraph-font: 'Times New Roman', serif;
    
    --nav-background-color: #ffffff;
    --nav-link-color: #00a6ed;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #ffffff;
    }

body {
    width: 960px;
    padding: 10px;
    }


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    }

h1 {
    position: absolute;
    top: 50px;
    left: 220px;
    right: 220px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(250,180,0,.7);
    text-align: center;
    }
    
article {
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    background-color: rgba(250,180,0,.7);
    padding: 20px;
    }
    
article img {
    float: right;
    width: 150px;
    padding: 30px;
    }
    
header {
    border: thin #000000 solid;
    padding: 20px;
    background-color: var(--accent1-color);
    }

header img {
    width: 100px;
 
}

section {
    border: thin #000000 solid;
    
}

section h2 {
    grid-column-start: 2;
    grid-column-end: span 1;  
}

section img {
    width: 260px;
    padding: 30px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: span 1;  
    align-items: center;
    justify-items: center; 
}

section p {
    grid-row-start: 2;
}

h2 grid-adventure {
    grid-column: span 5;
    justify-items: center; 
}

figure {
    grid-row-start: 2;
 }
    
figure img {
    display: block;
    width: 100px;
    height: 75px;
   }
    
figcaption {
    background-color: #222;
    color: #fff;
    font: var(--heading-font);
    max-width: 100px;
}

p {
    padding: 25px;
    }

footer {
    background-color: rgba(250,180,0,.7);
    border: thin #000000 solid;
    text-align: center;
}

footer img {
    width: 30px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
}
      
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.5rem;
    }
      
nav a:link, nav a:visited {
    color: var(--nav-link-color);
    }
      
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    }

/* Class Selectors */
.hero {
    position: relative;
    }

.hero img {
    max-width: 100%;
    height: auto;
}

.grid-header {
    display: grid; 
    grid-template-columns: 100px auto;
  
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-section {
    display: grid; 
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 30px auto;
}

.grid-adventure {
    display: grid; 
    grid-template-columns: 192px 192px 192px 192px 192px;
    grid-template-rows: 30px auto;
}

.version-one {
    grid-column: span 5;
    justify-items: center; 
    }

.flex-footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.flex-sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: row;
    background-color: rgba(250,180,0,.7);
}