* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1em;
    color: #333;
    background: #fff;
  }

header {
    margin: 0 auto;
    width: auto;
  }

  h1 {
    margin: 1rem;
    font-size: 1.0em;
    color: navy;
    text-align: center;
  }

form {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
  }


fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
  }

div {
  padding: 5px;
}

#margin {
    width: 300px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    background-color: 0 0 30px rgb(244, 82, 82);
  }

 button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
button:hover {
    background-color: darkgreen;
  }

.form-item {
    display: grid;
    align-items: center;
   
}

.column1 {
    margin: 0.5rem 0;
    }