.callout {
	width: 400px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
	background-color: rgb(39, 41, 165);
	color: #ffffff;
	
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid rgb(0, 0, 0);
	padding: 3px;
	background-color: rgb(206, 206, 206);
	width: 100px;
	height: auto;
}

blockquote {
	margin: 0;
}

cite {
    display: block;
	border-top: 1px dotted #ffffff;
	padding-top: 5px;
	text-align: right;
	font-size: smaller;
}